{% extends 'base.html' %}
{% block title %}New post{% endblock %}
{% block content %}
    <h2>New post</h2>

    <p>{{ error }}</p>
    <form method="post" action="/publish">
        {% csrf_token %}
        <input type="text" name="password" placeholder="Enter password">
        <br><br>
        <input type="text" name="title"placeholder="Enter title">
        <br><br>
        <textarea name="text" placeholder="Enter your text"></textarea>
        <br><br>
        <button>Submit</button>
    </form>

{% endblock %}